.maestro-audio-player .rhap_controls-section {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 80%;
}

.maestro-audio-player .rhap_main-controls {
}

.maestro-audio-player .rhap_volume-controls {
    flex: none;

}

.maestro-audio-player .rhap_volume-container {
    flex: none;
    min-width: 100px;
    width: 10vw;
}

.maestro-audio-player .rhap_additional-controls {
    display: none;
}
