.audio-player-readonly .rhap_controls-section {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 80%;
}

.audio-player-readonly .rhap_main-controls {
}

.audio-player-readonly .rhap_volume-controls {
    flex: none;
}

.audio-player-readonly .rhap_volume-container {
    flex: none;
    min-width: 100px;
    width: 10vw;
}

.audio-player-readonly .rhap_additional-controls {
    display: none;
}

.audio-player-readonly .rhap_progress-section {
    cursor: not-allowed;
}

.audio-player-readonly .rhap_progress-section .rhap_progress-bar,
.audio-player-readonly .rhap_progress-section .rhap_progress-container {
    pointer-events: none;
}